//
// - core
//=========================================

@import '_variables'
@import 'nib'
@import 'vendors/jquery.fullpage.min.css'

*,
&:before,
&:after
	box-sizing border-box
	margin 0
	padding 0
	
::selection
	background #969696

html
	font-size 16px
	+mobile()
		font-size 14px
	+below(520px)
		font-size 12px

body
	background black
	color white
	font-family Droid Sans, Helvetica, sans-serif
	font-size 16px
	a
		text-decoration none

.black
	color black !important

//
// - header
//=========================================

.header
	position fixed
	display block
	width 100%
	z-index 99
	transition 150ms linear
	&__container
		align-items center
		center(1200px)
		display flex
		position relative
	+below(1200px)
		padding 0 2rem
				
.logo-lg
	margin -7rem auto 0
	width 13rem
	height 13rem
	.logo--letter
		font-size 5rem
		top 7rem
	
.logo-sm
	margin -6rem auto 0
	width 11rem
	height 11rem
	.logo--letter
		font-size 4rem
		top 6rem

.logo
	position relative
	text-align center
	transition 150ms linear
	&__anchor
		background transparent
		position absolute
		border-radius 50%
		top 0
		transition inherit
		left 0
		height 100%
		width 100%
		&:hover
			top .5rem
		&:before
			border-radius 50%
			content ''
			position absolute
			left 0
			height 100%
			width 100%
			z-index -1
	&--letter
		font-family Playfair Display
		font-weight bold
		position absolute
		left 0
		right 0
		z-index -1

.logo-white
	.logo__anchor:before
		background white
	.logo--letter
		color black

.logo-black
	.logo__anchor:before
		background black
	.logo--letter
		color white

.lead-text
	font-family Playfair Display
	font-weight bold
	font-size 1.8rem

.nav-bar
	flex 1
	text-align right

.main-nav
	display inline-block
	margin-top 1.2rem
	&--item
		display inline-block
	+below(770px)
		display none

.main-nav--anchor
	color white
	font-weight bold
	margin-left 2rem
	transition 100ms linear
	&:hover
		text-decoration underline

.main-nav--anchor-sm
	font-size .9rem

.social-media
	flex 1
	text-align right

.main-nav,
.main-nav-lg,
.social-media
	list-style none
	
.menu-icon
	background white
	border-radius 0
	border 0
	cursor pointer
	display block
	margin 1.3rem 0 0
	padding 0
	width 54px
	height 54px
	position relative
	&__bars,
	&__bars:before,
	&__bars:after
		background black
		border-radius 5px
		display block
		width 38px
		height 6px
		position relative
		margin 0 auto
	&__bars:before,
	&__bars:after
		content ''
		position absolute
		margin 0 auto
	&__bars:before
		transform translate3d(0,-11px,0)
	&__bars:after
		transform translate3d(0,11px,0)
	+above(770px)
		display none
	
//
// - main-content
//=========================================

.main-content
	display block

//
// - main-content > presentation
//=========================================
	
.description
	margin-top 4rem
	text-align center
	&__text
		font-family Playfair Display, sans-serif
		font-size 2rem
	&__heading
		background #191919
		text-align center
		color #00ffb8
		display inline-block
		font-family Open Sans, sans-serif
		font-size 5rem
		line-height 5rem
		letter-spacing 1.5rem
		text-transform uppercase
		margin 0 -1.5rem .4rem 0

//
// - main-content > content
//=========================================

.box
	background white
	color black
	&__container
		center(960px)
		display flex
	&--header
		border-top 5px solid #ef2828
		flex 1
	&--heading
		font-family Playfair Display, sans-serif
		font-size 1.7rem
		font-weight bold
	&--content
		flex 5
		margin-left 2rem
		
//
// - main-content > pages
//=========================================

.slide
	overflow hidden
	position relative

.fp-tableCell
	overflow hidden

.main-section
	center(1200px)
		
.page-header
	flex .3
	+below(760px)
		margin 0 auto

.page
	align-items center
	+above(760px)
		display flex
	+below(1200px)
		padding 0 2rem
	+below(760px)
		text-align center

.page-lead
	font-size 3rem
	
.page-lead-anchor
	color black
	font-size 3em
	font-weight bold
	&:hover
		color white
		text-decoration underline

.page--content,
.card-list
	flex 1
	padding 0 3rem
	z-index 50

.fp-table-cell
	overflow none

.slide
	overflow hidden
	
//
// - main-content > about-me
//=========================================

.about-me
	position relative
	
.my-photo
	flex .5
	right -30%
	position absolute
	z-index 1
	img
		width 83%
		border-radius 50%
	+below(1200px)
		display none

.info-paragraph
	font-family Open Sans, sans-serif
	font-size 1.4rem
	font-weight lighter
	line-height 2rem
	margin-top 1rem
	+above(1200px)
		padding-right 25rem
	+below(1200px)
		text-align center
//
// - main-content > my-works
//=========================================

.my-works
	color black !important

.single-work
		text-align center
	&__container
		display flex
		flex-wrap wrap
		align-content flex-end
		overflow hidden
		// position relative

.work-header
	margin-top 8rem
	text-align center
	padding-bottom 2rem
	+above(1200px)
		padding-left 16%
		padding-right 16%
	+tablet()
		padding-left 8%
		padding-right 8%

.work-tags
	display inline-block
	font-size .8em
	margin-top 1rem

.work-single-tag
	text-transform uppercase
	line-height 1.5em
	&:not(:last-child)::after
		content '/'
		margin 0 .8rem
		
.work-preview
	display block
	background grey
	position relative

.work-preview-img
	width 100%

.work-description
	font-size 1.2rem
	margin-top 1rem

.work-link
	background rgba(0,0,0,.75)
	color white
	font-weight bold
	font-size .9rem
	margin-bottom 2rem
	padding 1.5rem 3rem
	position absolute
	text-transform uppercase
	transition 150ms linear
	bottom 0
	z-index 96
	&:hover
		background rgba(0,0,0,1)

//
// - main-content > contact
//=========================================

.contact
	color black !important

.single-contact
	display block
	margin-bottom 2rem

.contact-label,
.contact-info,
.contact-text
	color black
	font-family Open Sans, Helvetica, sans-serif
	
.contact-label
	display block
	// font-weight lighter
	font-size 1.8rem

.contact-info
	font-size 2.5rem
	font-weight lighter
	&:hover
		color #3e3e3e

.contact-text
	font-size 1.5rem
	font-weight lighter
	// margin-top .5rem

//
// - main-content > blog
//=========================================

// .blog-post
// 	margin-bottom 4rem
// 	&--date
// 		font-size .9rem
// 	&--heading
// 		color
// 		font-size 1.8rem
// 		margin-top .5rem
// 	&--anchor
// 		color black
// 		transition 100ms linear
// 		&:hover
// 			text-decoration underline
// 	p
// 		font-size 1rem
// 		line-height 2.3rem
// 		margin 2rem 0
// 	&--read-more
// 		color black
// 		font-size .8rem
// 		font-weight bold
// 		padding .5rem 0
// 		text-transform uppercase
// 		transition 120ms linear
// 		&:hover
// 			text-decoration underline
// 			padding-left 1rem

// .more-blog-posts
// 	border 3px solid black
// 	color black
// 	font-weight bold
// 	padding .6rem 1.3rem
// 	text-transform uppercase
// 	transition 100ms linear
// 	&:hover
// 		border-color #ef2828
// 		color #ef2828